/* Default Theme */
:root {
    --debug: none;
    --star-size: 40px;

    --btn1-color: rgb(87, 145, 87);
    --btn2-color: rgb(112, 112, 201);
    --btn3-color: rgb(213, 213, 107);

    --btn1-hover: rgb(96, 167, 96);
    --btn2-hover: rgb(91, 91, 199);
    --btn3-hover: rgb(237, 235, 75);

    --btnWin-color: rgb(219, 0, 219);
    --btnLose-color: rgb(189, 30, 30);
    --btnWin-hover: rgb(150, 34, 199);
    --btnLose-hover: rgb(145, 0, 0);

    --btnDisabled: lightgray;
    --btnDisabled-text: gray;

    --btnText-color: black;

    --main-box-bg: whitesmoke;
    --main-box-text-color: black;
    --main-box-border: rgb(68, 71, 69) 1px solid;
    --previous-choice-bg: lightblue;

    --rpg-replace-color: rgb(0, 82, 0);
    --rpg-rule-color: rgb(43, 4, 56);
    --rpg-rule-fail: rgb(137, 0, 0);
    --rpg-change-color: rgb(0, 0, 117);
    --rpg-success-color: rgb(121, 118, 45);

    --body-bg-color: white;
    --body-tint: none;
}

body {
    transition: background-color 0.8s ease;
    background: var(--body-bg-color);
}
.tint-overlay {
    position: absolute;
    background: var(--body-tint);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -4;
}

/* Additional Themes */
body[data-theme='1'] {
    --btn1-color: rgb(0, 0, 156);
    --btn2-color: rgb(0, 95, 0);
    --btn3-color: rgb(167, 94, 0);

    --btn1-hover: rgb(0, 0, 255);
    --btn2-hover: rgb(0, 145, 0);
    --btn3-hover: rgb(255, 166, 0);

    --btnWin-color: rgb(20, 239, 255);
    --btnLose-color: rgb(71, 0, 0);
    --btnWin-hover: rgb(41, 205, 205);
    --btnLose-hover: rgb(0, 0, 0);

    --btnDisabled: lightgray;
    --btnDisabled-text: gray;

    --btnText-color: rgb(255, 255, 255);

    --main-box-bg: rgb(244, 255, 163);
    --main-box-text-color: rgb(37, 25, 10);
    --main-box-border: rgb(85, 77, 101) 2px inset;
    --previous-choice-bg: #efd6a1;

    --rpg-replace-color: rgb(70, 224, 70);
    --rpg-rule-color: rgb(164, 0, 219);
    --rpg-rule-fail: rgb(211, 36, 36);
    --rpg-change-color: rgb(0, 149, 248);
}
body[data-theme='grayscale'] {
    --btn1-color: rgb(118, 139, 158);
    --btn2-color: rgb(129, 154, 129);
    --btn3-color: rgb(191, 160, 160);

    --btn1-hover: rgb(156, 156, 156);
    --btn2-hover: rgb(147, 147, 147);
    --btn3-hover: rgb(171, 152, 152);

    --btnWin-color: rgb(218, 224, 133);
    --btnLose-color: rgb(139, 105, 131);
    --btnWin-hover: rgb(236, 236, 236);
    --btnLose-hover: rgb(116, 116, 116);

    --btnDisabled: lightgray;
    --btnDisabled-text: gray;

    --btnText-color: rgb(0, 0, 0);

    --main-box-bg: rgb(255, 255, 255);
    --main-box-text-color: rgb(40, 40, 40);
    --main-box-border: rgb(78, 78, 78) 1px solid;
    --previous-choice-bg: #9d9d9d;

    --rpg-replace-color: rgb(53, 86, 53);
    --rpg-rule-color: rgb(82, 67, 87);
    --rpg-rule-fail: rgb(74, 27, 27);
    --rpg-change-color: rgb(31, 30, 63);
    --rpg-success-color: rgb(82, 81, 58);
    --body-tint: rgba(117,117,117,.75);
}
body[data-theme='Dark'] {
    --btn1-color: rgb(31, 61, 90);
    --btn2-color: rgb(20, 53, 20);
    --btn3-color: rgb(51, 15, 15);

    --btn1-hover: rgb(57, 107, 154);
    --btn2-hover: rgb(36, 96, 36);
    --btn3-hover: rgb(107, 27, 27);

    --btnWin-color: rgb(96, 9, 107);
    --btnLose-color: rgb(135, 0, 0);
    --btnWin-hover: rgb(122, 9, 105);
    --btnLose-hover: rgb(210, 4, 4);

    --btnDisabled: rgb(72, 72, 72);
    --btnDisabled-text: rgb(204, 204, 204);

    --btnText-color: rgb(255, 255, 255);

    --main-box-bg: rgb(56, 56, 56);
    --main-box-text-color: rgb(200, 200, 200);
    --main-box-border: gray 1px solid;
    --previous-choice-bg: #1a1d2b;

    --rpg-replace-color: rgb(115, 177, 216);
    --rpg-rule-color: rgb(195, 115, 221);
    --rpg-rule-fail: rgb(210, 100, 100);
    --rpg-change-color: rgb(119, 228, 85);
    --body-tint: rgba(0,0,0,.3);
}
body[data-theme='Gradient'] {
    background: linear-gradient(180deg, var(--body-bg-color) 25%, rgba(255, 255, 255) 100%);

    --btn1-color: rgb(55, 168, 102);
    --btn2-color: rgb(85, 165, 197);
    --btn3-color: rgb(248, 243, 96);

    --btn1-hover: rgb(55, 168, 102) linear-gradient(90deg,rgb(55, 168, 102) 50%, rgb(3, 171, 0)) no-repeat;
    --btn2-hover: rgb(85, 165, 197) linear-gradient(90deg,rgb(85, 165, 197) 50%, rgb(92, 92, 234)) no-repeat;
    --btn3-hover: rgb(248, 243, 96) linear-gradient(90deg,rgb(248, 243, 96) 50%, rgb(247, 212, 97)) no-repeat;

    --btnWin-color: rgb(225, 0, 255);
    --btnLose-color: rgb(209, 18, 18);
    --btnWin-hover: linear-gradient(90deg,rgba(209, 46, 187, 1) 25%, rgba(185, 79, 247, 1) 75%);
    --btnLose-hover: linear-gradient(90deg,rgba(209, 46, 46, 1) 25%, rgba(117, 0, 0, 1) 75%);

    --btnDisabled: rgb(72, 72, 72);
    --btnDisabled-text: rgb(204, 204, 204);

    --btnText-color: rgb(0, 0, 0);

    --main-box-bg: linear-gradient(160deg, rgb(229 202 202) 25%, rgb(177 155 113) 75%);
    --main-box-text-color: rgb(0, 0, 0);
    --main-box-border: rgb(0, 92, 6) 4px ridge;

    --rpg-replace-color: rgb(0, 32, 52);
    --rpg-rule-color: rgb(78, 12, 12);
    --rpg-rule-fail: rgb(210, 100, 100);
    --rpg-change-color: rgb(30, 92, 11);
    --rpg-success-color: rgb(103, 100, 0);
}
body[data-theme='Blues'] {
    --btn1-color: rgb(73, 32, 255);
    --btn2-color: rgb(65, 138, 255);
    --btn3-color: rgb(53, 255, 228);

    --btn1-hover: rgb(57, 28, 185);
    --btn2-hover: rgb(54, 146, 182);
    --btn3-hover: rgb(36, 168, 150);

    --btnWin-color: rgb(158, 234, 255);
    --btnLose-color: rgb(77, 78, 122);
    --btnWin-hover: rgb(158, 234, 255);
    --btnLose-hover: rgb(38, 36, 64);

    --btnDisabled: rgb(19 37 97);
    --btnDisabled-text: rgb(204, 204, 204);

    --btnText-color: rgb(0, 0, 0);

    --main-box-bg: rgb(255, 255, 255);
    --main-box-text-color: rgb(12, 10, 20);
    --main-box-border: rgb(15, 3, 52) 4px ridge;

    --rpg-replace-color: rgb(0, 32, 52);
    --rpg-rule-color: rgb(1, 62, 45);
    --rpg-rule-fail: rgb(135, 0, 0);
    --rpg-change-color: rgb(33, 23, 43);
    --rpg-success-color: rgb(47, 29, 75);
}

#errorHolder {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 5px;
    pointer-events: none;
}

#errorHolder .alert {
    pointer-events: all;
}

#editPath {
    position: absolute;
    right: 10px;
    top: 150px;
    z-index: 5;
}

.loopLinkPath {
    display: none;
}

.pathSelect {
    display: none;
}

.main-box {
    margin-top: 10px;
    width: 80%;
    background: var(--main-box-bg);
    padding: 10px;
    color: var(--main-box-text-color);
    border: var(--main-box-border);
}

.history-container {
    height: 200px;
    overflow-y:scroll;
    position: relative;
}
.history-container thead {
    position:sticky;
    top: 0;
    background-color: whitesmoke;
}

.link.active {
    background-color: yellow;
}

.debug {
    display: var(--debug);
}
#debug-toggle {
    border: none;
    opacity: 0;
    margin-left: 250px;
    width: 25px;
    cursor: help;
}
#inputData {
    display: none;
}
.prev-choice {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background: var(--previous-choice-bg);
}

/* Button colors */
#choiceButtons .btn{
    color: var(--btnText-color);
    min-width: 33%;
    margin-bottom: 5px;
}
#choiceButtons .btn.disabled {
    background-color: var(--btnDisabled);
    color: var(--btnDisabled-text);
}
.btn-path1, .btn-path4 {background: var(--btn1-color)}
.btn-path1:hover, .btn-path4:hover {background: var(--btn1-hover)}
.btn-path2, .btn-path5 {background: var(--btn2-color);}
.btn-path2:hover, .btn-path5:hover {background: var(--btn2-hover);}
.btn-path3, .btn-path6 {background: var(--btn3-color);}
.btn-path3:hover, .btn-path6:hover {background: var(--btn3-hover);}
.btn-pathWin {background: var(--btnWin-color);}
.btn-pathWin:hover {background: var(--btnWin-hover);}
.btn-pathLose {background: var(--btnLose-color);}
.btn-pathLose:hover {background: var(--btnLose-hover);}

/* Browse Styling */
.head {
    position: relative;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    margin-top: 25px;
    width: 90%;
    min-height: 50px;
}

.buttonArea {
    display: flex;
}

#editTable {
    background-color: rgb(61, 170, 165);
    padding: 5px;
    margin-top: 20px;
}

.table-container .card {
    min-width: 200px;
    max-width: 400px;
}

.rpg {
    background-color: lightblue;
    float: right;
    padding: 10px;
    margin-top: 30px;
}

#addRule, #addChange {
    margin-top: 10px;
}
#rule-name, #change-name {
    text-transform: uppercase;
}

.rpg-replace {
    color: var(--rpg-replace-color);
    font-weight: bold;
}

.rpg-rule {
    color: var(--rpg-rule-color);
    font-weight: bold;
}

.disabled .rpg-rule {
    color: var(--rpg-rule-fail);
}

.rpg-change {
    color: var(--rpg-change-color);
    font-weight: bold;
}

#areaDescription .rpg-succeed {
    color: var(--rpg-success-color);
}

.rpg-fail {
    color: var(--rpg-rule-fail) !important;
}


/* Browse Tables */
.adventure-card.type-RPG .card-header {
    background-color: rgb(26, 164, 26);
}
.adventure-card.type-Classic .card-header {
    background-color: rgb(64, 133, 237);
}
.adventure-card.type-Loop .card-header {
    background-color: rgb(152, 137, 130);
}
.adventure-card.type-Three .card-header {
    background-color: rgb(210, 83, 9);
}
.adventure-card .card-header {
    text-transform: capitalize;
}



/* Review Section */
.table-name {
    text-transform: capitalize;
}
.newReview.container {
    margin-top: 25px;
}

.review-card {
    --star-size: 25px;
}

.review-card .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.starHolder {
    position: relative;
    width: calc(var(--star-size) * 5);
    height: var(--star-size);
}

.stars {
    display: inline-block;
    width: 100%;
    height: var(--star-size);
    background-image: url(images/star-empty.png);
    background-size: var(--star-size);
    position: absolute;
    top: 0;
    left: 0;
}
.stars.fill {
    background-image: url(images/star-full.png);
    width: 50%;
}

/* Phone Formatting */
@media (max-width: 768px) {
    h3 {
        font-size: 32px;
    }
    button {
        /* font-size: 24px !important; */
    }
    .history-container {
        display: none;
    }
    #editPath {
        top: 70px;
    }
    .adventure-card {
        width: 100%;
    }
    .card-body p {
        margin: .25rem;
    }
    .card-body {
        overflow: hidden;
        transition: .5s;
    }
    .card-body:not(.show) {
        padding: 0px 10px;
        height: 0px;
    }
    .card-body.show {
        /* min-height: fit-content; */
        max-height: fit-content;
        height: 250px;
        padding: 10px;
        overflow: scroll;
    }
}
