:root {
    --debug: none;
    --star-size: 40px;
}

body {
    transition: background-color 0.8s ease;
}

#errorHolder {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 5px;
    pointer-events: none;
}

#errorHolder .alert {
    pointer-events: all;
}

#editPath {
    position: absolute;
    right: 10px;
    top: 150px;
    z-index: 5;
}

.loopLinkPath {
    display: none;
}

.pathSelect {
    display: none;
}

.currentChoice {
    margin-top: 10px;
    width: 80%;
    background-color: whitesmoke;
    padding: 10px;
}

.history-container {
    height: 200px;
    overflow-y:scroll;
    position: relative;
}
.history-container thead {
    position:sticky;
    top: 0;
    background-color: whitesmoke;
}

.link.active {
    background-color: yellow;
}

.debug {
    display: var(--debug);
}
#debug-toggle {
    border: none;
    opacity: 0;
    margin-left: 250px;
    width: 25px;
    cursor: help;
}
#inputData {
    display: none;
}
.prev-choice {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: lightblue;
}


/* Browse Styling */
.head {
    position: relative;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    margin-top: 25px;
    width: 90%;
    min-height: 50px;
}

.buttonArea {
    display: flex;
}

#editTable {
    background-color: rgb(61, 170, 165);
    padding: 5px;
    margin-top: 20px;
}

.table-container .card {
    min-width: 200px;
    max-width: 400px;
}

.rpg {
    background-color: lightblue;
    float: right;
    padding: 10px;
    margin-top: 30px;
}

.adventure-card.type-RPG .card-header {
    background-color: rgb(26, 164, 26);
}
.adventure-card.type-Classic .card-header {
    background-color: rgb(64, 133, 237);
}
.adventure-card.type-Loop .card-header {
    background-color: rgb(152, 137, 130);
}
.adventure-card.type-Three .card-header {
    background-color: rgb(210, 83, 9);
}
.adventure-card .card-header {
    text-transform: capitalize;
}



/* Review Section */
.table-name {
    text-transform: capitalize;
}
.newReview.container {
    margin-top: 25px;
}

.review-card {
    --star-size: 25px;
}

.review-card .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.starHolder {
    position: relative;
    width: calc(var(--star-size) * 5);
    height: var(--star-size);
}

.stars {
    display: inline-block;
    width: 100%;
    height: var(--star-size);
    background-image: url(images/star-empty.png);
    background-size: var(--star-size);
    position: absolute;
    top: 0;
    left: 0;
}
.stars.fill {
    background-image: url(images/star-full.png);
    width: 50%;
}

/* Phone Formatting */
@media (max-width: 768px) {
    h3 {
        font-size: 32px;
    }
    button {
        /* font-size: 24px !important; */
    }
    .history-container {
        display: none;
    }
    #editPath {
        top: 70px;
    }
    .adventure-card {
        width: 100%;
    }
    .card-body p {
        margin: .25rem;
    }
    .card-body {
        overflow: hidden;
        transition: .5s;
    }
    .card-body:not(.show) {
        padding: 0px 10px;
        height: 0px;
    }
    .card-body.show {
        /* min-height: fit-content; */
        max-height: fit-content;
        height: 250px;
        padding: 10px;
        overflow: scroll;
    }
}
